footer {
	background: #202020;
	@extend %paddings;

	.form-control {
		background: #444;
		border    : #444;
		color     : #999;
	}

	.btn-go {
		background: #000;
		color     : #fff;
	}
}

h4 {
	color         : #b5b5b5;
	font-size     : 1em;
	text-transform: uppercase;
	font-family   : Museo700;
}

.foo-links {
	margin-bottom: 30px;

	ul {
		list-style-type: none;
		margin         : 0;
		padding        : 0;

		a {
			color     : #666;
			transition: all 0.2s ease-in-out;
			display   : inline-block;
			padding   : 5px 0;

			&:hover {
				text-decoration: none;
				color          : #999;
				transition     : all 0.2s ease-in-out;
			}
		}
	}
}

.brochure {
	margin-top: 100px;
	color     : #666;
	position  : relative;

	.book {
		background     : url("../images/homepage/book.png") no-repeat 0 0;
		background-size: contain;
		width          : 70px;
		height         : 100px;
		display        : block;
		position       : absolute;
		top            : -60px;
		left           : 20px;
	}

	p {
		border    : 1px dashed #666;
		padding   : 10px 10px 10px 60px;
		font-size : 14px;
		text-align: right;
	}
}
