.carousel {
	position: relative;

	.banner-txt {
		color     : $white;
		font-size : 16px;
		text-align: center;
		width     : 90%;
		position  : absolute;
		z-index   : 3;
		top       : 50%;
		left      : 50%;
		transform : translate(-50%, -50%);
		@include media-breakpoint-up(md) {
			font-size: 25px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 35px;
		}
	}
}

.homepageslider {
	height: 400px;
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(lg) {
		height: 90vh;
	}
	@include media-breakpoint-up(xl) {
		height: 1050px;
	}

	li {
		height: 400px;
		@include media-breakpoint-up(sm) {}
		@include media-breakpoint-up(md) {}
		@include media-breakpoint-up(lg) {
			height: 90vh;
		}
		@include media-breakpoint-up(xl) {}
		width : 100%;

		&.banner1 {
			background     : url("../images/homepage/one.png")no-repeat 0 0;
			background-size: cover;
		}

		&.banner2 {
			background     : url("../images/homepage/two.png")no-repeat 0 0;
			background-size: cover;
		}

		&.banner3 {
			background     : url("../images/homepage/three.png")no-repeat 0 0;
			background-size: cover;
		};
	}
}
//services_page

.services {
	background: $service-bg;
	@extend %paddings;

	h4 {
		color     : $white;
		font-size : 14px;
		margin-top: 20px;

		span {
			display: block;
		}
		@include media-breakpoint-up(sm) {
			font-size  : 14px;
			line-height: 19px;
		}
		@include media-breakpoint-up(md) {
			font-size  : 16px;
			line-height: 26px;
		}
	}

	.thumbnail {
		display        : flex;
		flex-direction : column;
		text-align     : center;
		justify-content: center;
		width          : 80%;
		margin         : 0 auto 30px;
		@include media-breakpoint-up(sm) {
			width: 100%;
		}

		&.last {
			margin-bottom: 0;
		}

		img {
			width     : 150px;
			align-self: center;
			@include media-breakpoint-up(sm) {
				width: 100px;
			}
			@include media-breakpoint-up(lg) {
				width: 150px;
			}
		}
	}
}
//client list

.clients {
	background: $clients-bg;
	@extend %paddings;
}

.imglist {
	list-style-type: none;
	margin         : 0;
	padding        : 0;
	display        : flex;
	flex-wrap      : wrap;
	text-align     : center;
	justify-content: center;

	li {
		width     : 100%;
		padding   : 20px;
		display   : inline-block;
		text-align: center;
		@include media-breakpoint-up(xs) {
			width: 60%;
		}
		@include media-breakpoint-up(sm) {
			width: 20%;
		}
		@include media-breakpoint-up(md) {
			width: 20%;
		}

		img {
			max-width: 100%;
		}
	}

	&.center {
		justify-content: center;
	}
}
//about us

.aboutus {
	@extend %paddings;
	background: $aboutus-bg;
}

.section-heading {
	margin     : -30px 0 30px;
	text-align : center;
	font-size  : 1.5em;
	color      : $white;
	font-family: museosans500;
}

.about-quote {
	quotes     : "\201C""\201D";
	font-size  : 1.05em;
	line-height: 2.2em;

	&:before {
		color         : #000;
		content       : open-quote;
		font-size     : 5em;
		line-height   : 0.1em;
		vertical-align: -0.4em;
	}

	&:after {
		color         : #000;
		content       : close-quote;
		font-size     : 5em;
		line-height   : 0.1em;
		vertical-align: -0.5em;
	}
}

.btn-signin {
	background-color: #ffea00;
	color           : #154987;
}
